.TodoList {
  padding: 1rem 3rem;
  box-shadow: 5px 5px 20px black;
  height: fit-content;
  width: 80%;
  margin: 2rem auto;
}

@media only screen and (max-width: 500px) {
  .TodoList {
    width: 90%;
    padding: 1rem 0.5rem;
  }
}
